.node {
    cursor: pointer;
}

.node rect {
    /*Hack so that the drop shadow works in firefox and chrome*/
    filter: url(#dropshadow);
    filter: drop-shadow(4px 4px 3px rgb(0, 0, 0));
    stroke-width: 4px;
    fill: white;
}

.node text {
    text-anchor: middle;
    font-size: 12px;
}

.node.root-leaf rect{
    stroke:white;
    stroke-width: 1px;
    fill: rgb(43, 62, 80);
}

.node.root-leaf text{
    fill: white;
}

.link {
    stroke: white;
    fill: none;
}